<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu Blog</title>
  </head>
  <body>
    <main>
        <h1>Bem vindo ao Blog</h1>
     </main>
    {% for post in posts_list %}
      <article>
      <h2>Em: {{ post.pub_date|date:"d / m / Y" }}</h2>
      <p>{{ post.body_text }}</p>
      </article>
    {% endfor %}


      {% extends '_layout1.html' %} {# herda tudo que já tem em _layout1.html #}
      {% block content %} {# substitui o bloco content em _layout1.html #}
      <div class="card">
      <div class="card-header">
        <h5 class="card-title">Criar um Post</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %} {# protege o form contra envios “falsos” #}
          {{ form.as_p }} {# exibe o objeto form colocando os campos dentro de <p> #}
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
        </div>
      </div>
      {% endblock %} {# fecha o bloco content #}
      <a href="{% url 'post_add' %}" class="btn btn-lg btn-primary font-weight-bold">
      + Post
      </a>

        </body>
      </html>
